#demo {
  display: flex;
  height: 55vh;
  width: 55vw;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  border: 0.3px solid #ddd;
  box-shadow: 10px 0 60px -30px #9a9a9a;
  overflow: hidden;
}

#imageSliding {
  background: linear-gradient(
    90deg,
    rgba(76, 223, 129, 1) 0%,
    rgba(217, 251, 229, 1) 100%
  );
  width: 50%;
  color: #74867a;
  font-weight: 400;
  padding: 30px;
}

.imageContainer {
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
}

.imageTransition {
  transition: transform 0.5s ease;
}

#image {
  height: 40vh;
  margin-bottom: 20px;
}

#features {
  text-align: left;
  width: 50%;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.featuresPoints {
  margin: 0px 0 20px 0;
  font-weight: 400;
}

#button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  gap: 10px;
  color: var(--color2);
  border-radius: 10px;
  font-weight: 400;
  border: 1px solid var(--color2);
  align-self: flex-end;
  transition: 0.5s ease;
  user-select: none;
}

#button:hover {
  background-color: var(--color2);
  color: white;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.slide-enter-right {
  transform: translateX(0);
  animation: slide-enter-right-animation 0.5s ease-out forwards;
}
@keyframes slide-enter-right-animation {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#gradient {
  position: absolute;
  left: 0;
  margin-top: 10vh;
}

@media only screen and (max-height: 720px) {
  #demo {
    height: 80vh;
  }
}

@media only screen and (max-width: 420px) {
  #demo {
    display: block;
    height: 120vh;
    width: 95%;
  }

  #gradient {
    display: none;
  }

  #imageSliding {
    width: 90%;

    font-weight: 300;
    font-size: 14px;
    padding: 30px;
  }

  #features {
    text-align: center;
    width: 90%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  #button {
    margin: auto;

    width: 40vw;
  }
}
