#footer {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px 70px 70px;
  text-align: left;
  position: relative;
}

#leftContainer {
  margin-top: -70px;
}
#leftContainer #logoContainer #logo {
  margin-top: -20px;
}
#leftContainer #logoContainer #logoText {
  margin-top: 100px;
}

#contactInfos,
#logoBottom {
  font-weight: 300;
  font-size: 0.85rem;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05rem;
}

#contactInfos div i {
  transform: scale(1.5);
  padding: 10px 10px 10px 0px;
}

#copyright {
  position: absolute;
  bottom: 20px;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

#rightContainer {
  display: flex;
  gap: 50px;
}

#rightContainer div div {
  font-weight: 300;
  font-size: 0.75rem;
  margin-top: 10px;
}

#socialIcons {
  display: flex;
  justify-content: space-around;
}
#socialIcons div i {
  transform: scale(2);
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
}

@media only screen and (max-width: 420px) {
  #footer {
    display: block;
    height: 100vh;
  }
  #rightContainer {
    display: block;
  }
}
