.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #001c48;
  color: #fff;
  transition: top 0.3s;
  z-index: 1000;
  transition: 0.3s;
  height: 8vh;
  display: grid;
  place-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.hidden {
  transform: translateY(-100px);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#contentsInside {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logoContainer {
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#logo {
  height: 3rem;
}
#logoText {
  font-family: "Exo", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
#navItems {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navItems div {
  user-select: none;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(229, 59, 58, 1) 0%,
    rgba(229, 59, 58, 1) 50%,
    rgba(255, 93, 93, 0) 50%
  );
  border-image-slice: 1;
}

.navLinks {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.navLinks::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgba(229, 59, 58, 1);
  transition: width 0.3s;
}

.navLinks:hover::after {
  width: 50%;
  transition: width 0.3s;
}

/* #navItems div::before {
  background-color: rgba(229, 59, 58, 1);
} */
#getInTouch {
  display: grid;
  place-items: center;
  padding-right: 30px;
  display: flex;
  gap: 30px;
}

#buttonNavbar {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  gap: 10px;
  background-color: var(--color2);
  border-radius: 7px;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
}

#link {
  text-decoration: none;
  color: white;
}

@media only screen and (max-height: 720px) {
  .navbar {
    height: 12vh;
  }
  #navItems {
    width: 40%;
  }
  #buttonNavbar {
    width: 8vw;
  }
}

@media only screen and (max-width: 420px) {
  .navbar {
    height: auto; /* Change height to auto to accommodate smaller screens */
    display: block;
    padding: 10px 0;
    width: 100vw; /* Add padding for better spacing */
  }
  .hidden {
    transform: translateY(-220px);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  #contentsInside {
    display: block;
    /* Adjust width to make room for smaller screens */
  }

  #navItems div {
    font-size: 12px;
  }

  #navItems {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  #navItems div:not(:first-child):not(:nth-child(2)) {
    display: none;
  }
  .active {
    border: none;
  }

  #logoContainer {
    padding: 10px 0; /* Adjust padding for better spacing */
  }

  #buttonNavbar {
    width: 70%; /* Adjust button width for smaller screens */
  }

  #getInTouch {
    display: none; /* Adjust padding for better spacing */
  }
}

/* for the info */
#infoBox {
  position: relative;
}

#info {
  transform: scale(2);
}

#hideInfo {
  display: none;
}
#showInfo {
  display: block;
}

.information {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  border-radius: 12px;
  width: 400px;
  display: block;
  padding: 20px;
}

#forMore {
  margin-top: 10px;
}
#moreInfo {
  color: #ffb089;
}
