.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
:root {
  --color1: #00235b;
  --color2: #e53b3a;
}

body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ddd; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #999; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

#why {
  background-image: url("../src/Components/Images/herobg.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  place-items: center;
}

#design,
#explore,
#services {
  height: 100vh;
  background-color: white;
}

#footer {
  height: 50vh;
  background-image: url("../src/Components/Images/herobg.svg");
  color: white;
}
